@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=block');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #fdfae3;
    color: #1c1c0e;
    font-family: 'Hanken Grotesk', sans-serif;
  }
}

@layer components {
  .role-card input:checked + div {
    border-color: #7f561f;
    background-color: #ffddb8;
  }
  .role-card input:checked + div span {
    color: #7f561f;
  }
}
